# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache/
*.pyd
*.pyo
*.pym

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.env/
.env

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Docker
# -----------------------------
*.dockerignore
docker-compose.override.yml

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# Logs and temporary files
# -----------------------------
*.log
*.tmp
*.bak
*.swp

# -----------------------------
# Mac / Linux system files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# GitHub Codespaces
# -----------------------------
.history/
